<a href="https://colab.research.google.com/github/jamesdayao/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [ ]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [ ]:
x = 1

#Single variable with multiple values
array = [1, 2, 3]
print (array)

#Multiple variables with single value
a = b = c ="Jim"

print (a, b, c)
print (b, c)
print (c)

[1, 2, 3]
Jim Jim Jim
Jim Jim
Jim

Casting

In [ ]:
n = int(4)
print(n)

4

Type() Function

In [ ]:
c = "Jim"
d = 42.0

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

Double Quotes or Single Quotes

In [3]:
y = "John"
y = 'John'

print(y)

John

Case Sensitive

In [11]:
a = 4
A = "Sally"

#A will not overwrite a

print(A)
print(a)

Sally
4

Multiple Variables

In [12]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Varible

In [13]:
x = y = z = "four"

print(x)
print(y)
print(z)

four
four
four

Output Varibles

In [16]:
x = "enjoying"

print("Python programming is " + x)

#Other way:
x = "Python is "
y = "enjoying"
z = x + y

print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operation

In [17]:
x = 5
y = 3
print(x+y)

#Other way:
x = 5
y = 3
sum = x+y
sum

8

8

Assignment Operators

In [23]:
a, b, c = 0, -1, 6

c %= 3
c

0

Comparison Operators and Logical Operators

In [33]:
a, b, c = 0, -1, 6

a > b and c > b

# '>' is a Comparison Operator and "and" is a Logical Operator

True

True

Identity Operators

In [32]:
a, b, c = 0, -1, 5

a is c
False

False