<a href="https://colab.research.google.com/github/jamesdayao/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [40]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [39]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable Name

In [53]:
person_a = "Jim"
print (person_a)

Jim

Python Variable

In [52]:
x = 1

#Single variable with multiple values
array = [1, 2, 3]
print (array)

#Multiple variables with single value
a = b = c ="Jim"

print (a)
print (b)
print (c)

[1, 2, 3]
Jim
Jim
Jim

Casting

In [37]:
n = int(4)
print(n)

4

Type() Function

In [36]:
c = "Jim"
d = 42.0

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

Double Quotes or Single Quotes

In [44]:
y = "John"
y = 'John'

Case Sensitive

In [45]:
a = 4
A = "Sally"

#A will not overwrite a

Multiple Variables

In [12]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Varible

In [13]:
x = y = z = "four"

print(x)
print(y)
print(z)

four
four
four

Output Varibles

In [46]:
x = "enjoying"

print("Python programming is " + x)

Python programming is enjoying

In [47]:
#Other way:
x = "Python is "
y = "enjoying"
z = x + y

print(z)

Python is enjoying

Arithmetic Operation

In [49]:
x = 5
y = 3

print(x+y)

8

In [50]:
#Other way:
x = 5
y = 3

sum = x+y

sum

8

Assignment Operators

In [43]:
a, b, c = 0, -1, 6

c %= 3
c

0

Comparison Operators and Logical Operators

In [33]:
a, b, c = 0, -1, 6

a > b and c > b

# '>' is a Comparison Operator and "and" is a Logical Operator

True

True

Identity Operators

In [51]:
a, b, c = 0, -1, 5

a is c
False

False