<a href="https://colab.research.google.com/github/jamesdayao/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    
    print(x) #It only displays Thursday
    break

Thursday

In [ ]:
#Mind the spacings

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    break

  print(x) #It displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#To display only Tuesday and Wednesday using break statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:

    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1
while i <= 6:
  print(i)
  
  i += 1 #i = i + 1 Assignment Operator

1
2
3
4
5
6

In [ ]:
#using break statement
i = 1
while i <= 6:
  print(i)

  if i == 3:
    break

  i += 1

1
2
3

In [ ]:
#print only 3

i = 1
while i <6:
  if i == 3:
    print(i)

    break
    
  i += 1

3

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
#Application 1

x = 'Hello'
y = 0

while y < 10:
  y += 1
  print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [ ]:
#Application 2

x = 3

while x < 10:
  x == 3
  print(x)

  x += 1

3
4
5
6
7
8
9

Range() Function

In [3]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [10]:
for y in range(2,6):
  print(y)

2
3
4
5

In [12]:
for z in range(2,7,2):
  print(z)

2
4
6